
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    background: none;
    font-family: Arial, Helvetica, sans-serif;

}

.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    grid-template-columns: [start]1fr [start-end]0fr [end];
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;

}

.content-table{
    padding: 10px;
    margin: 10px;
    grid-column: start-end/end;
}

.content-form{
    padding: 10px;
    /* display: flex; */
}
table{
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ff0000;
    font-size: 1rem;
    border-collapse: collapse;
    width: 80%;
}

th{
    font-size: 1.45rem;
    padding: 5px;
}
th::first-letter{
    text-transform: capitalize;
}


td{
    font-size: 1.2rem;
    width: 15%;
    height: fit-content;
    padding: 5px;
    text-align: center;
    border: 2px solid #cccc;
}



form {
    margin: 0 auto;
    width: 90%;
    display: flex;
    
    text-align: center;
    align-content: center;
    align-items: center;
    gap: 15px;
}

.form-div, .date-div{
    display: flex;
    gap: 15px;
    margin: 0 auto;
    justify-content: center;
    align-self:flex-start ;
    flex-wrap: wrap;
}

.form-div{
    flex-direction: column;
    align-items: flex-start;
}

.form-div input, .form-div select{
    width: 90%;
}

.form-div input, .form-div select, .date-div input{
    font-size: 1.65em;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
}

/* select option[disabled]:first-child {
    display: none;
} */

legend, .weather-options-div div label{
    font-size: 1.55em;
}
.form-div select{
    width: fit-content;
    background-color: #efefef;
    
}


.weather-options-div{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
}


.weather-options-div div{
    display: flex;
    gap: 5px;
}
.submit-button{
    padding: 10px 22px;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: cornflowerblue;
    color: white;
    border: 0;
    width: fit-content;
    height: fit-content;
    
}