
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    background: none;
    font-family: Arial, Helvetica, sans-serif;

}

*> button{
    cursor: pointer;
}
body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content{
    position: absolute;
    height: 80%;
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;     */
    background-color: #efefef;
    border-radius: 10px;
    border: 2px solid black;
}

.content-form{
    margin: 20px 8px;
    padding: 10px;
    border-bottom: 5px solid #cccccc;
    /* display: flex; */
}
.landing-page-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
}
.search-bar{
    width: 60vh;
    height: 8vh;
    border-radius: 15px;
    border: none;
    padding:8px;
    font-size: 1.70em;
    text-align: center;
    background-color: white;
}
.search-btn{
    border: 0;
    margin: 8px;
    padding: 5px;
    
    font-size: 1.80em;
    
}

.search-bar:focus{
    border: none;
    outline: none;
}
.search-bar:active{
    border: none;
}
form {
    margin: 0 auto;
    width: 90%;
    display: flex;
    
    text-align: center;
    align-content: center;
    align-items: center;
    gap: 15px;
}

.form-div{
    display: flex;
    gap: 15px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.form-div{
    /* flex-direction: column; */
    /* align-items: flex-start; */
}

.form-div input, .form-div select{
    width: 90%;
}

.form-div input, .form-div select, .date-div input, #date-range, .weather-options{
    font-size: 1.65rem;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
    background-color:#ffffff ;
}
.weather-options{
    width: fit-content;
    padding: 8px;
    font-size: 1.20rem;
    text-align: center;
    cursor: pointer;
    
}
.item{
    font-size: 1rem;
    margin: 5px auto;
    width: fit-content;
    padding: 8px;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    text-shadow: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}
.weather-options input{
    width: fit-content;
}
/* select option[disabled]:first-child {
    display: none;
} */


legend, .weather-options-div div label{
    font-size: 1.55em;
}
.form-div select{
    width: fit-content;
}


/* .weather-options-div{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
} */


/* .weather-options-div div{
    display: flex;
    gap: 5px;
} */
.submit-button{
    padding: 10px 22px;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: cornflowerblue;
    color: white;
    border: 0;
    width: fit-content;
    height: fit-content;
    
}
.content-weather-info{
    width: 100%;
    margin: 0 auto; 
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.weekday-div{
    /* position: relative; */
    margin: 5px auto;
    width: 90%;
    gap: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weekday-btn{
    /* width: fit-content; */
    padding: 5px 8px;
    width: 15%;
    color:cornflowerblue ;
    border-radius: 10px;
    border: 2px solid cornflowerblue;
    font-weight: 800;
    font-size: 1.60rem;
}

.active, .weekday-btn:hover{
    color: white;
    background-color: cornflowerblue;
}

.weekday-weather{
    text-align: center;
    font-weight: lighter;
    margin: 5px 5px;
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.weekday-weather > h2{
    margin: 8px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.80em;
}

.weekday-weather-content{
    display: flex;
    margin: 8px 0;
    justify-content: center;
    width: 100%;
}

.day{
    display: none;
    width: 90%;
}
.active-day{
    display: block;
    
}
.day-content, .day-content-items{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.day-content{
    justify-content: space-between;
}

.day-content h3{
    font-size: 1.70em;
}

.day-content> div{
    display: flex;
    flex-direction: column;
    
}

.day-content-items img{
    width: 5em;
    height: 5em;
}

.day-content-items> h1{
    font-size: 3.5em;
}

.day-content-items > h1::after{
    content: "\00B0"
}

.view-more-btn{
    border: 0;
    font-weight: 300
}

.after, .before{
    font-size: larger;
    font-weight: 600;
}


.view-more-btn:hover{
    text-decoration: underline;
}

.day-content-extra{
    display: none;
    margin: 5px auto;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.day-content-extra h3{
    padding:5px;
    font-size: 1.30em;
}

.active-extra-content{
    display: flex;
}

@media screen and (max-width:1000px) {
    .content {
            width: 90%;
        }

    .form-div{
        flex-direction: column;
    }
    
    .form-div input, .form-div select, .date-div input, #date-range {
            font-size: 1.25em;
            border-radius: 10px;
            text-align: center;
            padding: 4px;
            background-color: #ffffff;
        }
    
    legend,.weather-options-div div label {
            font-size: 1.15em;
    
        }
}
@media screen and (max-width:768px) {
    .content{
        width: 90%;
    }

    .form-div{
        flex-direction: column;
    }
    .form-div input,
        .form-div select,
        .date-div input,
        #date-range {
            font-size: 1.25em;
            border-radius: 10px;
            text-align: center;
            padding: 4px;
            background-color: #ffffff;
        }

    legend,.weather-options-div div label {
        font-size: 1.15em;
        
    }
    .weather-options{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

}